@forward "../node_modules/bulma/sass/utilities/" with (
  $primary: #f1c405,
  $fullhd: 1920px
);

@use "../node_modules/bulma/sass/" as bulma;

html {
  // override bulma's default behavior
  overflow-y: auto;
}

.is-fullwidth {
  width: 100%;
  max-width: 100%;
}

.is-fullheight {
  height: 100%;
  max-height: 100%;
}
